<!DOCTYPE html>
<html lang="ko">

<head>
  @@include('@@webRoot/html/_include/_head.html')
</head>

<body>
  <div id="wrap">
    <div id="container">
      @@include('@@webRoot/html/_include/_aside.html')
      <main id="main">
        @@include('@@webRoot/html/_include/_header.html')
        <div class="container-fluid">
          <!-- 페이지 타이틀 영역 -->
          @@include('@@webRoot/html/_include/_page_top.html', { "title" : "회원정보", "breadcrumb": { "dep2": "가입회원" } })
          <!-- //페이지 타이틀 영역 -->

          <!-- 필터 영역 -->
          <div class="filter-area">
            <div class="row g-3 align-items-center">
              <div class="col-auto">가입일</div>
              <div class="col-auto">
                <div class="row g-2 align-items-center">
                  <div class="col-auto">
                    <input type="text" class="form-control" placeholder="YYYY.MM.DD" data-picker="date" />
                  </div>
                  <div class="col-auto">~</div>
                  <div class="col-auto">
                    <input type="text" class="form-control" placeholder="YYYY.MM.DD" data-picker="date" />
                  </div>
                </div>
              </div>
              <div class="col-auto">
                <select class="form-select">
                  <option value="">닉네임</option>
                </select>
              </div>
              <div class="col-auto">
                <input type="text" class="form-control" placeholder="키워드를 입력하세요" style="width: 400px" />
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-dark" style="min-width: 80px">검색</button>
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-outline-dark" style="min-width: 80px">초기화</button>
              </div>
            </div>
          </div>
          <!-- //필터 영역 -->

          <!-- table 상단 -->
          <div class="table-top">
            <div class="row align-items-end justify-content-between">
              <div class="col-auto">
                <div class="row g-3 align-items-center">
                  <div class="col-auto">
                    <select class="form-select">
                      <option value="">10개</option>
                      <option value="">30개</option>
                      <option value="">50개</option>
                      <option value="">100개</option>
                    </select>
                  </div>
                  <div class="col-auto">294 - 324 / 324</div>
                </div>
              </div>
              <div class="col-auto">
                <button type="button" class="btn btn-outline-dark" style="min-width: 160px">엑셀 다운로드</button>
              </div>
            </div>
          </div>
          <!-- //table 상단 -->

          <!-- 모달 중첩 테스트 -->
          <div class="text-center mb-2">
            <button type="button" data-bs-toggle="modal" data-bs-target="#modalTest1">모달 중첩 테스트</button>
          </div>
          <div class="modal modal-default" tabindex="-1" data-bs-backdrop="static" id="modalTest1">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">모달 1</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>공지사항이 등록되었습니다</p>
                  <p>공지사항이 두줄</p>
                  <p>공지사항이 세줄</p>
                  <p>공지사항이 이럴일없겠찌?</p>
                  <button type="button" data-bs-toggle="modal" data-bs-target="#modalTest2">모달2 열기</button>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark">확인</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" tabindex="-1" data-bs-backdrop="static" id="modalTest2">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">모달 2</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <button type="button" data-bs-toggle="modal" data-bs-target="#modalTest3">모달3 열기</button>
                  <p class="mb-10px">찾고자 하시는 지역의 이름을 입력하세요. 예)을지로, 퇴계로</p>
                  <div class="filter-area py-3 mb-20px">
                    <div class="row gx-2 justify-content-center align-items-center">
                      <label class="col-auto col-form-label">지역명</label>
                      <div class="col-auto">
                        <input type="text" class="form-control">
                      </div>
                      <div class="col-auto">
                        <button type="button" class="btn btn-danger">검색</button>
                      </div>
                    </div>
                  </div>
                  <table class="table table-bordered table-hover">
                    <colgroup>
                      <col style="width: 100px">
                      <col>
                    </colgroup>
                    <thead>
                      <tr>
                        <th class="text-center">우편번호</th>
                        <th class="text-center">주소</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-center">12345</td>
                        <td class="text-start">
                          <a href="javascript:;">서울특별시 중구 을지로5길 26</a>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">12345</td>
                        <td class="text-start">
                          <a href="javascript:;">서울특별시 중구 을지로5길 26</a>
                        </td>
                      </tr>
                      <tr>
                        <td class="text-center">12345</td>
                        <td class="text-start">
                          <a href="javascript:;">서울특별시 중구 을지로5길 26</a>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="2" class="text-center">
                          <p class="text-secondary py-2">데이터가 없습니다.</p>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                  <!-- pagination -->
                  <nav>
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="First">
                          <span class="material-icons">
                            keyboard_double_arrow_left
                          </span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span class="material-icons">
                            keyboard_arrow_left
                          </span>
                        </a>
                      </li>
                      <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span class="material-icons">
                            keyboard_arrow_right
                          </span>
                        </a>
                      </li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Last">
                          <span class="material-icons">
                            keyboard_double_arrow_right
                          </span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <!-- //pagination -->

                </div>
              </div>
            </div>
          </div>
          <div class="modal modal-default" tabindex="-1" data-bs-backdrop="static" id="modalTest3">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">모달 3</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <button type="button" data-bs-toggle="modal" data-bs-target="#modalTest4">모달4 열기</button>
                  <table class="table table-bordered">
                    <colgroup>
                      <col style="width: 130px">
                      <col>
                    </colgroup>
                    <tbody>
                      <tr>
                        <th>이름</th>
                        <td><input type="text" class="form-control" value="정용채"></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark">확인</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal modal-default" tabindex="-1" data-bs-backdrop="static" id="modalTest4">
            <div class="modal-dialog modal-dialog-centered modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">모달 4</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  작업을 중단하고 돌아가시겠습니까?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-bs-dismiss="modal">확인</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                </div>
              </div>
            </div>
          </div>
          <script>
            const testModal2 = document.getElementById('modalTest2')
            testModal2.addEventListener('show.bs.modal', event => {
              testModal2.querySelector(".modal-content").style.left = "200px";
              testModal2.querySelector(".modal-content").style.top = "200px";
            })

            const testModal3 = document.getElementById('modalTest3')
            testModal3.addEventListener('show.bs.modal', event => {
              testModal3.querySelector(".modal-content").style.left = "-200px";
              testModal3.querySelector(".modal-content").style.top = "-200px";
            })
          </script>
          <!-- //모달 중첩 테스트 -->

          <!-- fixed table -->
          <div class="table-scroll-x">
            <div class="table-inner" style="width: calc(100% - 240px);margin-left: 240px;">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="text-center cell-fixed" style="width: 60px;left:0; z-index: -1;">순번</th>
                    <th class="text-center cell-fixed" style="width: 80px;left: 60px; z-index: -1;">동의여부</th>
                    <th class="text-center cell-fixed" style="width: 100px;left: 140px; z-index: -1;">동의일시</th>
                    <th class="text-center">동</th>
                    <th class="text-center">호수</th>
                    <th class="text-center">주택형</th>
                    <th class="text-center">아이디</th>
                    <th class="text-center">이름</th>
                    <th class="text-center">생년월일</th>
                    <th class="text-center">연락처</th>
                    <th class="text-center">등록방법</th>
                    <th class="text-center">주소</th>
                    <th class="text-center">서류</th>
                    <th class="text-center">삭제</th>
                  </tr>
                </thead>
                <tbody>
                  @@for (var i = 4; i > 0; i--) {
                  <tr>
                    <td class="text-center cell-fixed" style="width: 60px;left:0; z-index: -1;">277</td>
                    <td class="text-center cell-fixed" style="width: 80px;left: 60px; z-index: -1;">동의여부</td>
                    <td class="text-center cell-fixed" style="width: 100px;left: 140px; z-index: -1;">0000-00-00 <br>00:00:00</td>
                    <td class="text-center">000</td>
                    <td class="text-center">0000</td>
                    <td class="text-center">84A</td>
                    <td class="text-center">qwerqax1234</td>
                    <td class="text-center">홍길동</td>
                    <td class="text-center">0000-00-00</td>
                    <td class="text-center">000-0000-0000</td>
                    <td class="text-center">등록방법</td>
                    <td class="text-center">경기도 하남시 ㅇㅇㅇ동 ㅇㅇㅇㅇㅇㅇㅇ아파트 101동 1001호</td>
                    <td class="text-center"><a href="" class="btn btn-xs btn-outline-secondary">보기</a></td>
                    <td class="text-center"><a href="" class="btn btn-xs btn-outline-secondary">삭제</a></td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
          <!-- //fixed table -->
          <!-- 일반 table -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="text-center">
                  <input type="checkbox" class="form-check-input m-0 align-middle" />
                </th>
                <th class="text-start">닉네임</th>
                <th class="text-start">이름</th>
                <th class="text-start">아이디</th>
                <th class="text-start">이메일</th>
                <th class="text-start">가입경로</th>
                <th class="text-start">가입일</th>
                <th class="text-start">최종로그인일</th>
              </tr>
            </thead>
            <tbody>
              @@for (var i = 4; i > 0; i--) {
              <tr>
                <td class="text-center">
                  <input type="checkbox" class="form-check-input m-0 align-middle" />
                </td>
                <td class="text-start">alpaca</td>
                <td class="text-start">정용채</td>
                <td class="text-start">iamalpa</td>
                <td class="text-start">slashbslash@gmail.com</td>
                <td class="text-start">SLASH B SLASH 계정</td>
                <td class="text-start">2022.10.20</td>
                <td class="text-start">2022.10.20</td>
              </tr>
              }
            </tbody>
          </table>

          <!-- //일반 table -->
          @@include('@@webRoot/html/_include/_pagination.html')

          <!-- table -->
          <table class="table table-bordered">
            <colgroup>
              <col style="width: 200px;">
              <col>
            </colgroup>
            <tbody>
              <tr>
                <th>닉네임</th>
                <td>alpaca</td>
              </tr>
              <tr>
                <th>이름</th>
                <td>정용채</td>
              </tr>
              <tr>
                <th>이메일</th>
                <td>slashbslash@gmail.com</td>
              </tr>
              <tr>
                <th>휴대폰 번호</th>
                <td>010-1234-5678</td>
              </tr>
              <tr>
                <th>생년월일</th>
                <td>1995.11.27</td>
              </tr>
              <tr>
                <th>가입경로</th>
                <td>네이버</td>
              </tr>
              <tr>
                <th>가입일</th>
                <td>2022.10.20
                </td>
              </tr>
              <tr>
                <th>마케팅 수신 동의</th>
                <td>O / 2022.10.20</td>
              </tr>
              <tr>
                <th>탈퇴일</th>
                <td>2022.10.20</td>
              </tr>
              <tr>
                <th>탈퇴방식</th>
                <td>본인탈퇴</td>
              </tr>
            </tbody>
          </table>
          <div class="mt-5 mb-2 fs-5 fw-bold">NFC 테마 연동/해제 이력</div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>테마</th>
                <th>NFC 연동일</th>
                <th>NFC 해제일</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>CL Cherry On Top</td>
                <td>2022.10.20</td>
                <td>-</td>
              </tr>
              <tr>
                <td>New Xeneration</td>
                <td>2022.10.20</td>
                <td>2022.10.21
                </td>
              </tr>
            </tbody>
          </table>
          <!-- //table -->

          <div class="d-flex gap-2  mt-5">
            <button type="button" class="btn btn-secondary width-150px">회원정보 수정</button>
            <button type="button" class="btn btn-dark width-150px">회원탈퇴 처리</button>
            <button type="button" class="btn btn-outline-dark width-150px">정상회원 전환</button>
          </div>
          <p class="text-danger mt-4">
            *발행체계 삭제 시 해당 발행체계로 발행된 모든 시리얼넘버가 함께 삭제됩니다.
          </p>
        </div>
        <!-- //container-fluid -->
      </main>
      <!-- //main -->
    </div>
  </div>
  <!-- //wrap -->
  @@include('@@webRoot/html/_include/_modal.html')
</body>

</html>